
#hello {
  padding: 25px;
  margin: 50px;
  font-family: monospace;
  border: solid black;
  display: none;
  size: 25%;
}

#hi {
  font-size: 50pt;
}

#suggestion {
  display: none;
}

#questions {
  display: none;
}

#intro {
  font-family: monospace;
  color: black;
  text-align: center;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 50px;
  margin: 20px;
}

#questions {
  background-image: linear-gradient(to right bottom, #cd2da3, #be52bd, #ac6cd1, #9b82de, #8d94e5, #71a6f0, #59b7f4, #4ec5f2, #41d8e7, #69e6d1, #a0f1b8, #daf7a6);
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
  margin: 25px 200px;
  padding: 25px;
  font-family: monospace;
  font-size: 14pt;

}

p {
  font-size: 16pt;
  font-weight: bold;
}

#firstButton {
  margin: 40px;
  background-color: #5FFBF1;
  color: black;
}

#secondButton {
  margin-top: 15px;
}

#thirdButton {
  background-color: #CD2DA3;
  font-size: 14pt;
  color: white;
  margin: 20px 26px;
}

h1 {
  font-size: 40pt;
}
